apiVersion: ols.openshift.io/v1alpha1
kind: OLSConfig
metadata:
  name: cluster
  namespace: openshift-lightspeed
  annotations:
    argocd.argoproj.io/sync-wave: "3"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
  labels:
    app.kubernetes.io/component: ai-assistant
    app.kubernetes.io/instance: openshift-lightspeed
    app.kubernetes.io/managed-by: argocd
    app.kubernetes.io/name: openshift-lightspeed
spec:
  featureGates:
  - MCPServer
  llm:
    providers:
      - name: red_hat_openshift_ai
        type: rhoai_vllm
        url: "http://mistral-small-24b-instruct-quantized-predictor.models.svc.cluster.local:8080/v1"
        credentialsSecretRef:
          name: rhoai-api-keys
        models:
          - name: mistral-small-24b-instruct-quantized
            url: "http://mistral-small-24b-instruct-quantized-predictor.models.svc.cluster.local:8080/v1"
  mcpServers:
  - name: cluster-health
    streamableHTTP:
      enableSSE: false
      sseReadTimeout: 10
      timeout: 5
      url: 'http://cluster-health-mcp-server.openshift-cluster-observability-operator.svc.cluster.local:8085/mcp'
    - name: your-second-mcp-server
      streamableHTTP:
        enableSSE: false
        sseReadTimeout: 10
        timeout: 5
        url: http://mcp-server.ocp-mcp-server.svc.cluster.local/mcp
  ols:
    defaultProvider: red_hat_openshift_ai
    defaultModel: mistral-small-24b-instruct-quantized
    logLevel: INFO
