apiVersion: v1
kind: Secret
metadata:
  name: vllm-api-keys
  namespace: models
  labels:
    app: vllm-auth
    authorino.kuadrant.io/managed-by: authorino
  annotations:
    argocd.argoproj.io/sync-wave: "0"
type: Opaque
stringData:
  api_key: "{{DYNAMIC_API_KEY}}"
